<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.webs.samirapplications.clock_pack1_froyo"
      android:versionCode="1"
      android:versionName="1.0"
       android:installLocation = "auto">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Info"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <receiver android:name=".Widget1" android:label="Analog Clock Widget 1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget1" />
        </receiver>
        <receiver android:name=".Widget2" android:label="Analog Clock Widget 2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget2" />
        </receiver>
        <receiver android:name=".Widget3" android:label="Analog Clock Widget 3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget3" />
        </receiver>
        <receiver android:name=".Widget4" android:label="Analog Clock Widget 4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget4" />
        </receiver>

    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 